<div class="row header-row">
	<img class="logo-img col-md-4" src="{{logoPath}}"></a>
	<div class="logo-img col-md-3"
         {{#not_contains privileges 'ADMIN'}}style="visibility: hidden"{{/not_contains}}>Management console</div>
</div>
<div class="row" style="margin-bottom: 5px">
    <span class="col-md-4"></span>
    {{#not_empty applications}}
    <div class="col-md-2 dropdown" id="applications-dropdown">
        <button class="btn btn-secondary dropdown-toggle header-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Applications</button>
        <ul class="dropdown-menu" role="menu">
        {{#each applications}}
            <li class="dropdown"><a id="{{this.uuid}}" href="{{this.url}}">{{this.name}}</a></li>
        {{/each}}
        </ul>
    </div>
    {{/not_empty}}

    <div class="col-md-2 dropdown" id="super-admin-dropdown"  {{#not_contains privileges 'SUPER_ADMIN'}}style="visibility: hidden"{{/not_contains}}>
        <button class="btn btn-secondary dropdown-toggle header-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Super Admin Console</button>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown"><a id="appMgmt-super-admin" href="/psamaui/applicationManagement">Application management</a></li>
            <li class="dropdown"><a id="connMgmt-super-admin" href="/psamaui/connectionManagement">Connection management</a></li>
            <li class="dropdown"><a id="privMgmt-super-admin" href="/psamaui/privilegeManagement">Privilege management</a></li>
            <li class="dropdown"><a id="roleMgmt-super-admin" href="/psamaui/roleManagement">Role management</a></li>
        </ul>
    </div>
    <a class="col-md-1 btn btn-default header-btn" id="userMgmt-users" href="/psamaui/userManagement"
       {{#not_contains privileges 'ADMIN'}}style="visibility: hidden"{{/not_contains}}>Users
    </a>  
    <div class="col-md-1 dropdown btn btn-default header-btn" id="help-dropdown" >
        <span class="dropdown-toggle col-md-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</span>
        <ul class="dropdown-menu" role="menu">
         	{{#if videoLink}}<li class="dropdown"><a href="{{{videoLink}}}">Video Demonstration</a></li>{{/if}}
	        {{#if pdfLink}}<li class="dropdown"><a href="{{{pdfLink}}}">User Guide</a></li>{{/if}}
            {{#if jupyterExampleLink}}<li class="dropdown"><a href="{{{jupyterExampleLink}}}">Jupyter Examples</a></li>{{/if}}
            {{#if helpLink}}<li class="dropdown"><a href="{{{helpLink}}}">Contact Us</a></li>{{/if}}
    </div>

    <a id="user-profile-btn" class="col-md-1 btn btn-default header-btn">User Profile</a>
    <a id="logout-btn" class="col-md-1 btn btn-default header-btn">Log Out</a>
</div>
