<div id="user-profile">
    <div class="bordered-block">
        Token:
        <button id="user-token-copy-button" type="button" class="btn-small btn-success" uuid="{{user.uuid}}" style="border-radius: 4px;">COPY</button>
        <button id="user-token-refresh-button" type="button" class="btn-small btn-warning" uuid="{{user.uuid}}" style="float: right; border-radius: 4px;">Refresh</button>
        <br>
        <div class="bordered-block" id="user_token_textarea" style="width: 100%; margin-top: 8px; word-wrap: break-word;">{{user.token}}</div>
        <!--Token expires in:-->
        <b></b>
    </div>

    <div class="bordered-block">
        UUID:<br>
        <input uuid="{{user.uuid}}" type="text" name="user_uuid" style="width: 100%;" required readonly disabled value="{{user.uuid}}">
        <br>
        Email:<br>
        <input uuid="{{user.uuid}}" type="text" name="user_email" style="width: 100%;" required readonly disabled value="{{user.email}}">
        <br>
    </div>
</div>
