<div id="user-profile">
    <div class="bordered-block">
        Token:
        <button id="user-token-copy-button" type="button" class="btn-small btn-success" uuid="{{user.uuid}}" style="border-radius: 4px;">COPY</button>
        <button id="user-token-reveal-button" type="button" class="btn-small btn-info" uuid="{{user.uuid}}" style="border-radius: 4px;">REVEAL</button>
        <button id="user-token-refresh-button" type="button" class="btn-small btn-warning" uuid="{{user.uuid}}" style="float: right; border-radius: 4px;">Refresh</button>
        <br>
        <div class="bordered-block" id="user_token_textarea" style="width: 100%; margin-top: 8px; word-wrap: break-word;" token="{{user.token}}">**************************************************************************************************************************************************************************************************************************************************************************************</div>
        <div id="user_token_expiration">Token expiration time: {{{tokenExpiration user.token}}}</div>
        <b></b>
    </div>

    <div class="bordered-block">
        Email:<br>
        <input uuid="{{user.uuid}}" type="text" name="user_email" style="width: 100%;" required readonly disabled value="{{user.email}}">
        <br>
    </div>
</div>
