{{#unless createOrUpdateApplication}}
<div class="col-md-12">
    <button id="edit-application-button" type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-edit"/> Edit
    </button>
    <button id="delete-application-button" type="button" class="btn btn-danger" style="float: right">
        <span class="glyphicon glyphicon-remove"/> Delete
    </button>
</div>
{{/unless}}
<form>
    UUID:<br>
    <input uuid="{{application.uuid}}" type="text" name="application_uuid" style="width: 100%;" required readonly disabled value="{{application.uuid}}">
    <br>
    Name:<br>
    <input uuid="{{application.uuid}}" type="text" name="application_name" style="width: 100%;" required {{#unless createOrUpdateApplication}}readonly disabled{{/unless}} value="{{application.name}}">
    <br>
    Description:<br>
    <input type="text" name="application_description" style="width: 100%;" required {{#unless createOrUpdateApplication}}readonly disabled{{/unless}} value="{{application.description}}">
    <br>
    URL:<br>
    <input type="text" name="application_url" style="width: 100%;" {{#unless createOrUpdateApplication}}readonly disabled{{/unless}} value="{{application.url}}">
    <br>

    <div class="bordered-block">
        Token:
        <button id="app-token-copy-button" type="button" class="btn-small btn-success" uuid="{{application.uuid}}" style="border-radius: 4px;">COPY</button>
        <button id="app-token-refresh-button" type="button" class="btn-small btn-warning" uuid="{{application.uuid}}" style="float: right; border-radius: 4px;">Refresh</button>
        <br>
        <div class="bordered-block" id="application_token_textarea" style="width: 100%; margin-top: 8px; word-wrap: break-word;">{{application.token}}</div>
    </div>

    <div class="bordered-block">
        Privileges:<br>
        {{#each application.privileges}}
            <div class="bordered-block">
                <span uuid="{{this.uuid}}">Name: <strong>{{this.name}}</strong></span><br>
                <span uuid="{{this.uuid}}">Description: {{this.description}}</span><br>
            </div>
        {{/each}}
    </div>

    <!--<div class="bordered-block">-->
        <!--<Strong>Privileges</Strong>-->
        <!---->
    <!--</div>-->

    {{#if createOrUpdateApplication}}
        <div style="padding-top: 4px">
        <button id="save-application-button" type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-ok"></span> Save Application
        </button>
        <div id="cancel-application-button" class="btn btn-outline" style="float: right">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </div>
        </div>
    {{/if}}

</form>
