<form id="new-privilege-form">
    <div>
        <label for="privilege_name">name (required)</label>
        <input uuid="{{this.uuid}}" type="text" required name="privilege_name" style="width: 100%;" required>

        <label for="privilege_description">description (required)</label>
        <input type="text" required name="privilege_description" style="width: 100%;" required>
    </div>
    <div class="bordered-block application-block">
        <Strong>Application</Strong> &nbsp&nbsp
        <select id="application-dropdown">
            <option value="">choose an application</option>
            {{#each applications}}
                <option value="{{this.uuid}}" description="{{this.description}}">{{this.name}}</option>
            {{/each}}
        </select>
        <br>

        UUID: <span id="uuid">{{privilege.application.uuid}}</span>
        <br>
        Name: <span id="name">{{privilege.application.name}}</span>
        <br>
        Description: <span id="description">{{privilege.application.description}}</span>

    </div>
    <div style="padding-top: 4px">
        <button id="save-privilege-button" type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-ok"></span> Save Privilege
        </button>
        <div id="cancel-privilege-button" class="btn btn-outline" style="float: right">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </div>
    </div>
</form>