
	<h1>{{label}}</h1>
	<table class="table-picsure table-hover">
	<thead class="header-color">
		<tr>

			<th>Name</th>

		    <th>Description</th>
		</tr>
	</thead>
	<tbody>
        {{#each roles}}
        <tr>
                <td><div class="role-row" id="{{this.uuid}}">{{this.name}}</div></td>

                <td><div class="role-row" id="{{this.uuid}}">{{this.description}}</div></td>

        </tr>
        {{/each}}
	</tbody>
	</table>
