{{#unless createOrUpdateConnection}}
<div class="col-md-12">
    <button id="edit-button" type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-edit"/> Edit
    </button>
    <button id="delete-button" type="button" class="btn btn-danger" style="float: right">
        <span class="glyphicon glyphicon-remove"/> Delete
    </button>
</div>
{{/unless}}
<form>
    <div>
        <input type="text" name="uuid" style="width: 100%;" value="{{connection.uuid}}" hidden>
        Label:<br>
        <input type="text" name="label" style="width: 100%;" value="{{connection.label}}" required {{#unless createOrUpdateConnection}}readonly{{/unless}}>
        <br>
        ID:<br>
        <input type="text" name="id" style="width: 100%;" value="{{connection.id}}" required {{#unless createOrUpdateConnection}}readonly{{/unless}}>
        <br>
        Sub prefix:<br>
        <input type="text" name="subPrefix" style="width: 100%;" value="{{connection.subPrefix}}" required {{#unless createOrUpdateConnection}}readonly{{/unless}}>
        <br>
        Required fields:<br>
        <!--input type="text" name="requiredFields" style="width: 100%;" value="{{connection.requiredFields}}" required {{#unless createOrUpdateConnection}}readonly{{/unless}}-->
        <div class="col-md-12" id="required-fields">
        {{#each connection.requiredFields}}
            <div class="col-md-12" id="required-field-{{}}">
                <div class="col-md-5">
                    Label: <input type="text" name="required-fields-label" value="{{this.label}}" required {{#unless ../createOrUpdateConnection}}readonly{{/unless}}>
                </div>
                <div class="col-md-5">
                    ID: <input type="text" name="required-fields-id" value="{{this.id}}" required {{#unless ../createOrUpdateConnection}}readonly{{/unless}}>
                </div>
                {{#if ../createOrUpdateConnection}}
                    <div class="col-md-1">
                       <div id="add-field-button" class="btn btn-info" style="float: right; padding: 4px;">
                                <span class="glyphicon glyphicon-plus" style="top: 0px; left: 1px;"></span>
                       </div>
                    </div>
                {{/if}}
            </div>
        {{/each}}
        </div>
        <br>
        <br>
        {{#if createOrUpdateConnection}}
        <div>
            <button id="save-connection-button" type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-ok"></span> Save connection
            </button>
            <div id="cancel-button" class="btn btn-outline" style="float: right">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </div>
        </div>
        {{/if}}
    </div>
</form>