{{#each connections}}
	<h2>{{label}}</h2>
	<table class="table-picsure">
	<thead class="header-color">
		<tr>
			{{#each requiredFields}}
				<th>{{this.label}}</th>
		    {{/each}}
		    <th>Roles</th>
		</tr>
	</thead>
	<tbody>
		{{#each users}}
        <tr>
            {{#each ../requiredFields}}
            <td><div class="user-row" id="{{../uuid}}">{{{fieldHelper ../this this}}}</div></td>
            {{/each}}
            <td><div>{{displayUserRoles this.roles}}</div></td>
        </tr>
		{{/each}}
	</tbody>
	</table>
{{/each}}